#gallery
{
width:40px;
height:40px;
background:url(http://icons.iconarchive.com/icons/tpdkdesign.net/refresh-cl/256/Hardware-Camera-icon.png) 0 0; 

}
#gear
{
width:40px;
height:40px;
background:url(http://www.cs.cmu.edu/~junggon/tools/gear.png) 0 0; 
}
body
{
background-color:#333399;
}
#title
{
color:#FF3300;
font-family:"Arial", Helvetica, sans-serif;
}
#stop
{
margin-left:150px;
margin-right:150px;
}
